<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

  <queries>
    <package android:name="com.android.fmradio"/>
    <package android:name="com.mediatek.FMRadio"/>
    <package android:name="com.mediatek.fmradio"/>
    <package android:name="com.lenovo.fmradio"/>
    <intent>
      <action android:name="android.intent.action.MAIN"/>
      <category android:name="android.intent.category.LAUNCHER"/>
    </intent>
  </queries>

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="FM Χωρίς Ακουστικά"
      android:theme="@style/Theme.NovaLite"
      android:supportsRtl="true">
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
